<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.ekmekci.aslanbas"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>AslanBaş</name>

  <description>
      Şimdilik Sadece Test Aşamasındayız.
  </description>

  <author href="http://www.yemekleri.org" email="info@yemekleri.org">
      Yasin Ekmekçi
  </author>
    
  <icon src="icon.png" />

</widget>